.gr {
    display: flex;
}
.cv {
    color: blueviolet;
    font-size: 50px;
    position: relative;
    left: 600px;
}
.ph {
    margin-bottom: 100px;
}
.h1 {
    text-align: center;
}
.bord {
    border: solid;
    border-width: 10px;
}
